* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% -48px);
}

.control {
  display: flex;
  align-items: center;
  gap: 18px;
}

.btn-control {
  background-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #575f66;
  transition: 0.25s;
}

.btn-control:hover {
  background-color: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}
/* =======================common===================== */
input,
textarea,
text,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67;
  min-width: 205px;
  height: 60px;
  border-radius: 999px;
  background: #2e80ce;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section__desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

/* =======================header===================== */
.header {
  padding-top: 30px;
  background-color: #10375c;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__action--login,
.header__link {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.header__navbar {
  display: flex;
}

.header__item {
  padding: 0 21px;
}

.header__action--login:hover,
.header__link:hover,
.header__item--active {
  text-shadow: 1px 0 0 #fff;
}

.header__item--active::before {
  position: relative;
  right: 8px;
  top: -2px;
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.header__action {
  display: flex;
  align-items: center;
}

.header__action--signup {
  min-width: 104px;
  height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 28px;
  cursor: pointer;
}

/* =========================hero====================== */
.hero {
  padding-top: 84px;
  display: flex;
}

.hero-content {
  width: 44%;
}

.hero__media {
  flex: 1;
}

.hero__title {
  margin-top: 60px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img-large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img-small {
  width: 210px;
  height: 410px;
}

/* =======================service================== */
.our-service {
  padding: 170px 0;
  background: #fff;
}

.our-service__desc,
.our-service__heading {
  text-align: center;
}

.our-service__desc {
  width: 468px;
  margin: 18px auto 0;
}

.our-service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.our-service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.our-service-item {
  display: flex;
  padding: 21px;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.5s;
}

.our-service-item:hover {
  position: relative;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.our-service-item:hover .our-service-item__icon {
  border-radius: 30px;
  background: #2e80ce;
  box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
  color: #fff;
}

.our-service-item__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  margin-right: 19px;
  transition: 0.5s;
}

.our-service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.our-service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.service-btn {
  width: 205px;
  margin-top: 75px;
}

/* ==========================work======================= */
.work {
  padding: 100px 0;
  background-color: #f6fbff;
}

.work__desc {
  width: 468px;
}

.work-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work-item__more {
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

/* ====================================about================================= */
.about {
  margin-top: 85px;
  padding: 85px 0 201px;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__media {
  width: 49%;
}

.about__body {
  width: 40%;
}

.about__img {
  position: relative;
}

.about__img--big {
  display: flex;
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  object-fit: cover;
  width: 332px;
  height: 370px;
  border-radius: 6px;
}

.about__btn {
  margin-top: 38px;
  width: 205px;
}

/* ===================team=================== */
.team {
  padding: 85px 0px;
}

.team__btn {
  width: 205px;
  margin: 0 auto;
  margin-top: 38px;
}

.team-header {
  text-align: center;
}

.team-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.team-list__thumb {
  height: 290px;
  width: 100%;
  display: block;
  object-fit: cover;
  transition: 0.25s;
}

.team-list__img--bg:hover .team-list__thumb {
  transform: scale(1.1);
}

.team-list__img--bg {
  overflow: hidden;
  padding-top: 28px;
  background-color: #eaf6ff;
}

.team-list__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
}

.team-list__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.87;
}

.team-control {
  justify-content: center;
  margin-top: 38px;
}

.btn-control__icon--next {
  transform: rotate(180deg);
}

/* ===========================install========================= */
.install {
  padding: 85px 0;
  margin-top: 85px;
}

.inner {
  height: 427px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  background-color: #2e80ce;
  border-radius: 4px;
}

.inner-left__picture {
  width: 284px;
  height: 522px;
  display: block;
  position: absolute;
  bottom: 0;
}

.inner-right__heading {
  margin-top: 76px;
  width: 489px;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.inner-right__desc {
  width: 586px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.inner-right__app {
  margin-top: 38px;
  display: flex;
  gap: 28px;
  align-items: center;
}

/* ==========================blog============================== */
.blog {
  padding: 85px 0;
  background-color: #fff;
}

.blog-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-left {
  width: 40%;
}

.blog-left__more {
  display: inline-block;
  margin-top: 28px;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: 5;
  text-underline-position: from-font;
}

.blog-control {
  margin-top: 28px;
}

.blog-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.blog-item {
  width: 270px;
  height: 375px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  transition: 0.25s;
}

.blog-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.block-item__wrap {
  border-radius: 12px 12px 0px 0px;
  height: 172px;
  overflow: hidden;
}

.block-item__thumb {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  transition: 0.25s;
  overflow: hidden;
}

.blog-item:hover .block-item__thumb {
  transform: scale(1.1);
}

.block-item__body {
  padding: 18px 22px;
}

.block-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}

.block-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71;
}

.block-item__more {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
}

.block-item__more:hover {
  color: #2e80ce;
}
/* ==================================appointment============================== */
.appointment {
  margin-top: 85px;
}

.appointment-inner {
  text-align: center;
  padding: 100px 178px;
  background: #f6fbff;
}

.appointment-heading {
  width: 813px;
  margin: 0 auto;
}

.appointment-heading::after {
  margin: 18px auto 0;
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
}

.appointment__desc {
  margin: 18px auto 0;
  width: 617px;
}

.appointment__btn {
  margin-top: 18px;
  width: 205px;
  margin: 18px auto 0;
}

/* ==========================footer============================= */
.footer {
  font-family: "Open Sans", sans-serif;
  margin-top: 170px;
  background: #10375c;
}

.footer-top {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}

.footer-desc {
  margin-top: 21px;
  color: #a9b3bb;
  font-size: 1.6rem;
  line-height: 1.75;
}

.footer-heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer-list {
  margin-top: 20px;
  margin-bottom: 28px;
}

.footer-item {
  margin-bottom: 10px;
  white-space: nowrap;
}

.footer-link {
  color: #a9b3bb;
  font-size: 1.4rem;
  line-height: 1.886;
}

.social {
  display: flex;
  gap: 10px;
  margin: 20px 0 28px;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: #2e80ce;
  transition: 0.25s;
}

.social-btn:hover {
  background: #2e80ce;
  color: #fff;
}

.footer-form {
  margin-top: 10px;
}

.footer-form__email {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  outline: none;
  background-color: transparent;
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.footer-form__email::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  line-height: 1.85;
}

.footer-form__submit {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
}

.footer-form__submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

.footer-copyright {
  border-top: 1px solid #406181;
}

.footer-copyright__desc {
  padding: 28px 0 42px;
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}
