* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora";
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% -48px);
}

/* =======================common===================== */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67;
  min-width: 205px;
  height: 60px;
  border-radius: 999px;
  background: #2e80ce;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section__desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

/* =======================header===================== */
.header {
  padding-top: 30px;
  background-color: #10375c;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__action--login,
.header__link {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.header__navbar {
  display: flex;
}

.header__item {
  padding: 0 21px;
}

.header__action--login:hover,
.header__link:hover,
.header__item--active {
  text-shadow: 1px 0 0 #fff;
}

.header__item--active::before {
  position: relative;
  right: 8px;
  top: -2px;
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.header__action {
  display: flex;
  align-items: center;
}

.header__action--signup {
  min-width: 104px;
  height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 28px;
  cursor: pointer;
}

/* =========================hero====================== */
.hero {
  padding-top: 84px;
  display: flex;
}

.hero-content {
  width: 44%;
}

.hero__media {
  flex: 1;
}

.hero__title {
  margin-top: 60px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img-large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img-small {
  width: 210px;
  height: 410px;
}

/* =======================service================== */
.our-service {
  padding: 170px 0;
  background: #fff;
}

.our-service__desc,
.our-service__heading {
  text-align: center;
}

.our-service__desc {
  width: 468px;
  margin: 18px auto 0;
}

.our-service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.our-service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.our-service-item {
  display: flex;
  padding: 21px;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.5s;
}

.our-service-item:hover {
  position: relative;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.our-service-item:hover .our-service-item__icon {
  border-radius: 30px;
  background: #2e80ce;
  box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
  color: #fff;
}

.our-service-item__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  margin-right: 19px;
  transition: 0.5s;
}

.our-service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.our-service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.service-btn {
  width: 205px;
  margin-top: 75px;
}

/* ==========================work======================= */
.work {
  padding: 100px 0;
  background-color: #f6fbff;
}

.work__desc {
  width: 468px;
}

.work-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work-item__more {
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

/* ====================================about================================= */
.about {
  padding: 85px 0 121px;
  margin: 85px 0;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__media {
  width: 49%;
}

.about__body{
  width: 40%;
}

.about__img {
  position: relative;
}

.about__img--big {
  display: flex;
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  object-fit: cover;
  width: 332px;
  height: 370px;
  border-radius: 6px;
}

.about__btn{
  margin-top: 38px;
  width: 205px;
}
